@import "tailwindcss";

@theme {
  --color-primary: #8B6914;
  --color-primary-dark: #6e5310;
  --color-primary-light: #d4a017;
  --color-background-alt: #FEF7E6;
  --color-danger: #DC240E;
}

:root {
  --background: #FEF7E6;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
}
